@media (max-width:1400px){
    .form-cost-block .form-cost{
        width:85%;
    }

}

@media (max-width:1280px){
    .galery-item{
        max-width: none;
        width:88%;
    }
}
@media (max-width:991px){
    .form-cost-block{
        display:none;
    }
    .mobile-button-cost{
    display: block;
    position: absolute;
    bottom: 41px;
    left: 50%;
    right: 50%;
    padding: 8px 0 14px;
    width: 280px;
    margin-left: -133px;
    }
    .head-block-wrap {
        min-height:400px;
    }
    .menu-wrap ul li{
        margin-right:4%;
    }
    .form-cost-block input,
    .form-cost-block label{
        display:none;
    }
    .form-cost-block button{
        margin:0 auto;
        display: block;
    }
    .form-cost-block .form-cost-inner{
        width:80%;
    }
    .facts-header{
        float:none;
        margin:0 auto;
        width:290px;
        padding-left:0;
        span{
            display:inline-block;
        }
    }
    .facts-header:after{
        display:none;
    }
    .facts-container:before{
        display:none;
    }
    .facts-items{
        float:none;
        margin:0 auto;
    }
    .facts-items .item{
        width:32%;
    }
    .profit-container h2{
        margin-bottom:30px;
        
    }
    .profit-container h2:after,
    .galery-wrap h2:after{
        display:none;
    }
    .profit-container .item{
        width:42%;
        margin:0 auto;
    }
    .how-we-work-wrap img{
        width:100%;
    }
    .galery-item-desc{
        background: url("../img/mobile-galery-text-bg.png") no-repeat;
        height:auto;
        width:320px;
        padding:15px 10px;
        right:-20px;
    }
    .galery-image img{
        height: 250px!important;
    }
    .galery-item .sss{
        border:none;
    }
    .galery-item .sssnext{
        left:30%!important;
    }
    .galery-item .sssprev{
        left:24%!important;
    }
    .galery-wrap h3{
        text-align: center;
        padding-left:0!important;
    }
    .galery-item .galery-image{
        padding-left:0;
    }
    .facts-items{
        max-width: none;
    }
}
/*Styles for Image slider only on mobile*/
@media (min-width:768px){
    .profit-container{
        .item{
        display: inline-block!important;
        }
    .ssslide{
        position: relative!important;
    }
    .sss{
        height:auto!important;
        padding:0!important;
    }
        .sssprev,.sssprev{
            display:none;    
        }
    }
}

@media (max-width:768px){

.mobile-menu-wrap{
    display:block;
    background-color: #0e526a;
    color:#fff;
    .menu-text{
       font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
        padding: 17px 38px;
        display:inline-block;
    }
    .menu-button{
        display:inline-block;
        float:right;
        margin:15px 20px 0;
        width:30px;
        span{
            width:25px;
            height:3px;
            background-color: #fff;
            display:block;
            margin-bottom:2px;
        }
    }
}
.mobile{
    position: relative;
}
.menu-wrap{
    display:none;
    text-align: right;
    position: absolute;
    top:52px;
    left:0;
    z-index:5;
    width:100%;
    ul{
        padding-left: 0;
        margin: 25px 0;
        a{
            padding: 6px 0 12px;
            font-size: 18px;
        }
        li{
            display:block;
            margin:0;
            padding-right: 21px;

        }
    li:hover{
        background-color: #e5f0f4;
    }
    a:hover{
        color:#000;   
        }
    ul li:last-child{
        margin:0;
        }
    }
}
.mobile-menu-wrap:after{
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    bottom: -10px;
    right: 15px;
    border-width: 10px 9px 0 9px;
    border-color: #0e526a transparent transparent transparent;
    z-index:10;
    }

.contacts-block{
        display:none;
}
    header .logo-block, 
    footer .logo-block{
        margin:0 auto;
    }


.profit-container .item{
        width:100%;
        padding-left:0;
        min-height:320px;
}
    .profit-container p{
        margin-bottom:0;
        min-height:60px;
        font-size: 22px;
        padding-left:18px;
        line-height: 28px;
        word-spacing: 3px;
    }
    .profit-container .color-ico{
        background-size: 75%;
        background-position: 69% 46%;
        margin-bottom:5px;
    }
    .profit-container .color-ico:before{
        top:58px;
        left:58px;
        background-size:450px;
        width:64px;
        height:66px;
    }
    .profit-container .color-ico-1:before{
        background-position: -52px 0px;
    }
    .profit-container .color-ico-2:before{
        background-position: -115px 0px;
    }
    .profit-container .color-ico-3:before{
        background-position: -177px 0px;
        width:70px;
        height:78px;
        }
     .profit-container .color-ico-4:before{
         left:50px;
         top:65px;
         background-position: -345px 0px;
         width:95px;
    }
    .profit-container .color-ico-5:before{
        left:60px;
        background-position: -250px 0px;
    }
    .profit-container .color-ico-6:before{
        left:55px;
        top:60px;
        background-position: -440px 0px;
    }
.color-items{
    padding:0!important;
    .sssprev{
        top:22%;
        left:14px;
        background-image: url(../img/main-sprite.png);
        background-position: -144px 0px;
        width: 44px;
        height: 44px;
    }
    .sssprev:hover{
        background-position: -95px 0px;
    }
    .sssnext{
        top:22%;
        right:-2px;
        background-image: url(../img/main-sprite.png);
        background-position: -242px 0px;
        width: 44px;
        height: 44px;
    }
    .sssnext:hover{
        background-position: -193px 0px;
    }
}
.galery-wrap h2{
      padding-left:0;
      line-height: 34px;
    }
.galery-wrap h2:before{
      display:none;
}
.galery-item-desc{
    position: relative;
    display: block;
    left: 50%;
}
.galery-item{
    width:100%;
    margin-bottom: 73px;
}
.galery-image{
    position: absolute;
    top:0;
    left:-120px;
    }
.ssslide{
        position: relative;
    }
    .galery-item .galery{
        overflow: hidden;
    }
    
.questions-wrap input, 
.questions-wrap textarea{
       width:290px; 
    }
.how-cost-form .type-of-room, 
.how-cost-form .view, 
.how-cost-form .type-of-building{
        width:290px;
    }
    .how-cost-form input,
    .how-cost-form .height{
        width:273px;
        margin-bottom:15px;
    }
.how-cost-form .how-cost{
    text-align: center;
}
    .how-cost-wrap{
        overflow: hidden;
    }
    .facts-items .item{
        width:100%;
    }
    .head-block-wrap .head-text h1{
        font-size: 29px;
        letter-spacing: 0;
    }
    .head-block-wrap .head-text span{
        font-size:21px;
        letter-spacing: 0;
    }
    .profit-container h2,
    .questions-wrap h2,
    .map h2,
    .how-we-work-wrap h2,
    .galery-wrap h2{
        width:auto;
        font-size: 22px;
        text-align: center;
        margin-bottom:40px;
        text-transform: uppercase;
    }

    .questions-wrap h2:after,
    .map h2:after,
    .how-we-work-wrap h2:after{
        display:none;
    }
    .facts-items .item-text{
        padding: 0 10px;
    }
    .how-cost-wrap{
       min-height: 590px;
    }
    .how-cost-form .jq-selectbox__select{
        text-align: left;
    }
    .how-cost-form .jq-selectbox__dropdown{
        width:270px!important;
    }
    .how-cost-form .jq-selectbox li{
        text-align: left;
    }
    .color-items{
    .sss{
            padding-bottom: 0!important;
            height:300px;
        }
    }
    .desktop-works{
        display:none!important;
    }
    .galery-work{
        display:block;
        height:350px;
        .work-item{
            img{
                width:auto;
                margin:0 auto;
        }
        }
    }
    
.galery-work{
    .sss{
        padding-bottom:0!important;
        height:305px;
    }
    .sssprev{
        top:255px;
        left:95px;
        background-image: url(../img/main-sprite.png);
        background-position: -144px 0px;
        width: 44px;
        height: 44px;
    }
    .sssprev:hover{
        background-position: -95px 0px;
    }
    .sssnext{
        top:255px;
        right:78px;
        background-image: url(../img/main-sprite.png);
        background-position: -242px 0px;
        width: 44px;
        height: 44px;
    }
    .sssnext:hover{
        background-position: -193px 0px;
        }
        }
    
    .popup-block{
        h2{
            font-size: 25px;
        }
        top:100px;
        width:320px;
        margin-left:-160px;
        input{
            width:250px;
            padding-right:0;
        }
    }
    .popup-block:after{
        display:none;
    }
}

@media (max-width:420px){
    .head-block-wrap .head-text{
        padding: 25px 0 26px;
    }
    .head-block-wrap .head-text h1{
        line-height:36px;
        margin-bottom:10px;
    }
    .head-block-wrap .head-text span{
        padding:0 20px;
    }
    .galery-item .galery{
        height:500px;
    }
    .galery-item-desc{
        position: absolute;
        top:247px;
        left:30px;
        font-size: 17px;
        padding-top:25px;
        padding-bottom:20px;
        div,p{
            padding:0 20px;
        }
    }
    .galery-item-desc .desc-text{
        margin-bottom: 19px;
        line-height:23px;
        max-height:70px;
    }
    .map .map-canvas{
        height:447px;
    }
    .how-cost-form .how-cost{
        padding: 63px 20px 43px;
    }
    .how-cost-form .header{
        left:0;
    span{
        font-size: 30px;
        margin-bottom:3px;
    }
    }  


    .how-cost-form .type-of-room, 
    .how-cost-form .view, 
    .how-cost-form .type-of-building{
        width: 292px;
        margin-left: 35px;
        font-size: 15px;
}
    .how-cost-form .jq-selectbox__select{
           padding: 11px 45px 0 10px; 
    }
 
    .how-cost-form input{
        width:278px!important;
        margin-left:32px;
        margin-top:3px;
        padding-left:10px;
        padding-top:2px;
    }
    .how-cost-form input::placeholder{
        font-size: 15px;
    }
    .how-cost-form button{
        bottom:-20px;
        left: 52%;
        word-spacing: 0.1px;
    }
    .how-cost-form:after{
        bottom: -130px;
        border-width: 130px 294px 0 294px;
    }
    header .logo-block{
            padding: 10px 0 32px 20px;
    }
    header .logo-block .big-letters, 
    footer .logo-block .big-letters{
        font-size: 24px;
         letter-spacing: 0;
        word-spacing: 0;
    }
    header .logo-block img, footer .logo-block img{
        padding:16px 0 0 12px
    }
    header .logo-block img, footer .logo-block img{
        width: 76px;
    }
    header .logo-block .header-text, 
    footer .logo-block .header-text{
        padding: 33px 0 0 23px;
    }
    header .logo-block .small-letters, 
    footer .logo-block .small-letters{
        font-size: 21px;
        letter-spacing: 1px;
        word-spacing: 2px;
    }
    .mobile-menu-wrap{
        height:52px;
    }
    .mobile-menu-wrap .menu-button{
        margin: 20px 4px 0;
    }

   

    .head-block-wrap{
        min-height:476px;
    }
    .facts-wrap{
        padding: 32px 0px 0;
    }
    .facts-header {
        text-align: center;
         margin-bottom: 36px;
         padding-left: 26px;
        width:auto;
        span{
        font-size: 25px;
        margin-left: -5px;
    }
    }
    .facts-items{
        padding: 43px 0 0px 7px;
    
    .item.item-1{
        margin-bottom: 79px;
    }
    .item.item-2{
        margin-bottom:88px;
        .head-item-text{
            margin-top:52px;
        }
    }
    .item.item-3{
        margin-bottom: 100px;
        .head-item-text{
           margin-top:48px; 
        }
    }
    .item.item-4{
         margin-bottom: 50px;
        .item-text-block{
           margin-top:40px;
           width: 250px;
        }
    }
    .item.item-5{
         margin-bottom: 67px;
         .item-text{
           margin-top:50px; 
        }
    }
    .item.item-6{
         margin-bottom: 67px;
         .item-text{
           margin-top:55px; 
        }
    }
    }
    .profit-container .color-ico:after{
        bottom: 4px;
        left:40px;
        background-size: 80%;
    }
    .facts-items .head-item-text,
    .facts-items .item-text-block{
        font-size: 15px;
    }
    .facts-items .item-text{
        font-size:14px;
        line-height: 16px;
        word-spacing: 3px
    }
    .facts-items .item-wrap{
        margin-bottom: 41px;
    }
    .facts-items .item {
    margin: 0px 0 70px;
    }
    .profit-container {
       padding: 38px 0 2px;
        h2{
            width:220px;
            font-size: 25px;
            padding-left:30px;
        }
    }
    .how-cost-form{
        top: 200px;
    }
    .how-cost-form .header{
        top: -55px;
        .orange-text{
            padding-left:12px;
           letter-spacing: 1px;
        }
        .white-text{
           padding-left:0px;
           letter-spacing: 2px;
        }
    }
    .galery-wrap h3{
        font-size: 22px;
        text-align: left;
        font-weight: 400;
        margin-bottom:13px;
        padding-left:10px!important;
        text-transform: lowercase;
    }
    .galery-wrap h3:first-letter{
        text-transform: uppercase;
    }
    .galery-item .sssnext{
        left: 54.5% !important;
        bottom:25px;
    }
    .galery-item .sssprev {
        left: 48.5% !important;
        bottom:25px;
}
    .galery-wrap{
        padding: 63px 0 0px;
    }
    .galery-wrap h2{
        letter-spacing: 2px;
        padding-left:30px;
        word-spacing: -2px;
        margin-bottom:28px;
    }
    .galery-item{
        margin-bottom: 45px;
    }
    .questions-wrap p{
        margin-bottom:30px;
        padding:0 45px;
        margin-left:26px;
        margin-bottom:55px;
    }
    .questions-wrap input::placeholder,
    .questions-wrap textarea::placeholder{
        font-size: 15px;
        padding-top:4px;
    }
    footer .logo-block .header-text{
        padding-left:15px;
    }
    .galery-wrap h3.standart{
        margin-bottom:12px;
    }
    .galery-wrap h3.elite{
        margin-bottom: 11px;
    }
    .how-we-work-wrap{
        padding:45px 0 40px;
        h2{
            font-size:25px;
            margin-bottom:80px;
        }
    }
    .galery-item:last-of-type{
        margin-bottom:0;
    }
    .questions-wrap{
        padding: 60px 0 70px;
        h2{
            font-size:24px;
            padding-left:14px;
            word-spacing: 4px;
            margin-bottom:25px;
        }
        input,textarea{
            width:266px;
            margin-left:15px;
        }
        input::placeholder,
        textarea::placeholder{
        }
        button{
            padding: 11px 65px 14px 56px;
            margin-left:39px;
        }
    }
    .map h2{
        font-size:24px;
        margin:55px 0;
        padding-left: 10px;
    }
    footer .wrap{
        padding: 6px 0;
    }
    footer .logo-block{
        padding-right:0;
        padding-bottom:40px;
    }
    footer .logo-block .header-text{
        padding-left: 23px;
    }
    .how-cost-form .jq-selectbox__dropdown{
        width:285px!important;
    }
    .how-cost-form .jq-selectbox li {
        padding: 8px 10px 9px;
    }
    .how-cost-wrap{
       min-height: 482px;
    }
}

@media (max-width:340px){
    .galery-item-desc{
        left:0;
    }
    .facts-wrap{
        background: url("../img/mobile-bg.jpg") no-repeat
    }
    .head-block-wrap{
        background-position: 50%;
    }
}